<template>
        <Form ref="formValidate" :model="formValidate" :rules="ruleValidate" :label-width="80">
            <FormItem label="用户名" prop="username">
                <Input v-model="formValidate.username" placeholder="请输入用户名"/>
            </FormItem>
            <FormItem label="姓名" prop="realname">
                <Input v-model="formValidate.realname" placeholder="请输入真实姓名"/>
            </FormItem>
            <FormItem label="电子邮件" prop="mail">
                <Input v-model="formValidate.mail" placeholder="请输入电子邮件"/>
            </FormItem>
            <FormItem label="联系方式" prop="phone">
                <Input v-model.number="formValidate.phone" placeholder="请输入联系方式" :maxlength="11"/>
            </FormItem>
            <FormItem label="密码" prop="passwd">
                <Input type="password" v-model="formValidate.passwd" placeholder="请输入密码"/>
            </FormItem>
            <FormItem label="状态" prop="status">
            <RadioGroup v-model="formValidate.status">
                    <Radio label="1">开启</Radio>
                    <Radio label="2">关闭</Radio>
                </RadioGroup>
            </FormItem>
            <FormItem label="角色" prop="desc">
                <Input v-model="formValidate.desc" type="textarea" :autosize="{minRows: 2,maxRows: 5}" placeholder="Enter something..."/>
            </FormItem>
            <FormItem>
                <Button type="primary" @click="handleSubmit('formValidate')">提交</Button>
                <Button type="ghost" @click="handleReset('formValidate')" style="margin-left: 8px">取消</Button>
            </FormItem>
        </Form>
</template>
<script>
    export default {
        props:['updateState'],
        data () {
        const checkPhone = (rule, value, callback) => {
                    if(!value){
                        return callback(new Error('手机号不能为空'));
                    }else{
                        const reg = /^1[3|4|5|7|8][0-9]\d{8}$/
                        if(reg.test(value)){
                             callback();
                        }else{
                            return callback(new Error('请输入正确的手机号'));
                        }
                    }
            };
        const validatePass = (rule, value, callback) => {
                if (value === '') {
                    callback(new Error('密码不能为空'));
                } else {
                    callback();
                }
            };
            return {
                formValidate: {
                    username: '',
                    realname: '',
                    mail: '',
                    phone: '',
                    passwd: '',
                    status:'1',
                    time: '',
                    desc: ''
                },
                ruleValidate: {
                    username: [
                        { required: true, message: '用户名不能为空', trigger: 'blur' }
                    ],
                    realname: [
                        { required: true, message: '姓名不能为空', trigger: 'blur' },
                    ],
                    mail: [
                        { required: true, message: '电子邮件不能为空', trigger: 'blur' },
                        { type: 'email', message: '不正确的电子邮件格式', trigger: 'blur' }
                    ],
                    phone: [
                       {required: true,validator: checkPhone, trigger: 'blur'}
                    ],
                    passwd: [
                        {required: true,validator: validatePass, trigger: 'blur' }
                    ],
                    status: [
 
                    ],
                    date: [
                        { required: true, type: 'date', message: 'Please select the date', trigger: 'change' }
                    ],
                    time: [
                        { required: true, type: 'string', message: 'Please select time', trigger: 'change' }
                    ],
                    desc: [
                        { required: true, message: 'Please enter a personal introduction', trigger: 'blur' },
                        { type: 'string', min: 20, message: 'Introduce no less than 20 words', trigger: 'blur' }
                    ]
                }
            }
        },
        methods: {
            handleSubmit (name) {
                this.$refs[name].validate((valid) => {
                    if (valid) {
                        this.$Message.success('Success!');
                    } else {
                        this.$Message.error('Fail!');
                    }
                })
            },
            handleReset (name) {
                this.$emit("changeOp");
            }
        }
    }
</script>