<template>
    <div>
        <card>
           <p slot="title"><a href="javascript:void(0)" v-show="!isShow" @click="goBack(isShow)" class="mr-5"><Icon type="ios-arrow-left" :size="14"></Icon> 返回</a>{{action==='' || isShow?slotTitle.list:action==='add' && !isShow?slotTitle.add:slotTitle.edit}}</p>
            <transition name='fade' mode="out-in">
            <div v-if='isShow' key="list">
                <Form inline>
                    <FormItem>
                            <Button type="primary" icon="ios-plus-empty" @click='updateOp(isShow,"add")'>{{slotTitle.button}}</Button>
                    </FormItem>
                    <FormItem>
                            <Input v-model="searchValue" @on-change="handleClear" clearable @on-enter="handleSearch" :placeholder="slotTitle.ph"  style="width: 200px"/>
                             <Button type="primary" @click="handleSearch" >搜索</Button>
                    </FormItem>
                </Form>
                <Table :loading="dataLoading" border :columns="columns" :data="insideTableData"></Table>
                <div class="tc mt-20" v-if="page.total>10">
                    <Page @on-change="changePage" :current="page.current" :total="page.total" size="small" show-total show-elevator show-sizer :page-size="page.size" :page-size-opts="page.op"></Page>
                </div>
            </div>
            <div v-else key='detail'>
                <Update @changeOp="updateOp(isShow,action)"></Update>
            </div>
            </transition>
        </card>
    </div>
</template>
<script>
import Update from './article-update'
import mixin from '_c/manageMixin'
import api from '@/api/content'
export default {
    components:{Update},
    name: 'field-manage',
    mixins:[mixin],
    data(){
        return{
                slotTitle:{
                    button:'新增文章',
                    list:"文章列表",
                    add:"新增文章",
                    edit:"编辑文章",
                    ph:"输入关键字"
                },
                columns:[
                    {
                        type: 'index',
                        width: 80,
                        title:'序号',
                        align: 'center'
                    },
                    {
                        title: '文章ID',
                        key: 'username'
                    },
                    {
                        title: '缩略图片',
                        key: 'realname'
                    },
                    {
                        title: '标题',
                        key: 'type'
                    },
                    {
                        title: '分类名称',
                        key: 'type'
                    },
                    {
                        title: '阅读数',
                        key: 'type'
                    },
                    {
                        title: '是否推荐到首页',
                        key: 'type'
                    },
                    {
                        title: '发布时间',
                        key: 'type'
                    },
                    {
                        title: '操作',
                        key: 'acction',
                        width:170,
                        render: (h, params) => {
                            return h('div', [
                                h('Button', {
                                    props: {
                                        type: 'primary',
                                        size: 'small'
                                    },
                                    style: {
                                        marginRight: '5px'
                                    },
                                    on: {
                                        click: () => {
                                            this.$refs.list.updateOp(this.$refs.list.isShow,'edit')
                                        }
                                    }
                                }, '编辑'),
                                h('Button', {
                                    props: {
                                        type: 'info',
                                        size: 'small'
                                    },
                                    style: {
                                        marginRight: '5px'
                                    },
                                    on: {
                                        click: () => {
                                            this.$Modal.confirm({
                                                title:'删除用户',
                                                content:'<p>是否要删除'+params.row.username+'此用户</p>',
                                                onOk: () => {
                                                    this.$Message.info('删除成功');
                                                    this.$refs.list.remove(params.index)
                                                }
                                            });                                  
                                        }
                                    }
                                }, '删除')
                            ]);
                        }
                    }             
            ]
        }
    },
    methods:{
        getList(current){
            api.articleList().then(res=>{
                const data = res.body
                this.insideTableData=data.records
                this.page.total=data.total
                this.page.size=data.size
                this.page.current=data.current
                this.dataLoading=false
            })
        }
    }
};
</script>
