<template>
        <Form ref="formValidate" :model="formValidate" :rules="ruleValidate" :label-width="80">
            <FormItem label="类型名称" prop="username">
                <Input v-model="formValidate.username" placeholder="请输入用户名"/>
            </FormItem>
            <FormItem label="创建人">
                <Input v-model="formValidate.realname" disabled/>
            </FormItem>
            <FormItem label="分类级别">
            <RadioGroup v-model="formValidate.type">
                    <Radio label="1">1级</Radio>
                    <Radio label="2">2级</Radio>
                </RadioGroup>
            </FormItem>
            <FormItem label="状态">
            <RadioGroup v-model="formValidate.status">
                    <Radio label="1">启用</Radio>
                    <Radio label="2">禁用</Radio>
                </RadioGroup>
            </FormItem>
            <FormItem>
                <Button type="primary" @click="handleSubmit('formValidate')">提交</Button>
                <Button type="ghost" @click="handleReset('formValidate')" style="margin-left: 8px">取消</Button>
            </FormItem>
        </Form>
</template>
<script>
import api from '@/api/business'
    export default {
        data () {
        const checkPhone = (rule, value, callback) => {
                    if(!value){
                        return callback(new Error('手机号不能为空'));
                    }else{
                        const reg = /^1[3|4|5|7|8][0-9]\d{8}$/
                        if(reg.test(value)){
                             callback();
                        }else{
                            return callback(new Error('请输入正确的手机号'));
                        }
                    }
            };
        const validatePass = (rule, value, callback) => {
                if (value === '') {
                    callback(new Error('密码不能为空'));
                } else {
                    callback();
                }
            };
            return {
                formValidate: {
                    username: '',
                    realname: '',
                    mail: '',
                    phone: '',
                    passwd: '',
                    status:'1',
                    time: '',
                    desc: ''
                },
                ruleValidate: {
                    username: [
                        { required: true, message: '类型名称不能为空', trigger: 'blur' }
                    ]
                }
            }
        },
        methods: {
            handleSubmit (name) {
                this.$refs[name].validate((valid) => {
                    if (valid) {
                        this.$Message.success('Success!');
                    } else {
                        this.$Message.error('Fail!');
                    }
                })
            },
            handleReset (name) {
                this.$emit("changeOp");
                this.$cookie.remove("status")
            }
        }
    }
</script>