<template>
    <div>
        <card>
           <p slot="title"><a href="javascript:void(0)" v-show="!isShow" @click="goBack(isShow)" class="mr-5"><Icon type="ios-arrow-left" :size="14"></Icon> 返回</a>{{action==='' || isShow?'业务列表':action==='add' && !isShow?'新增业务类型':'编辑业务类型'}}</p>
            <transition name='fade' mode="out-in">
            <div v-if='isShow' key="list">
                <Form inline>
                    <FormItem>
                            <Button type="primary" icon="ios-plus-empty" @click='updateOp(isShow,"add")'>新增业务类型</Button>
                    </FormItem>
                    <FormItem>
                            <Input v-model="searchValue" @on-change="handleClear" clearable @on-enter="handleSearch" placeholder="输入用户名或用户ID"  style="width: 200px"/>
                             <Button type="primary" @click="handleSearch" >搜索</Button>
                    </FormItem>
                </Form>
                <Table :loading="dataLoading" border :columns="columns" :data="insideTableData"></Table>
                <div class="tc mt-20" v-if="page.total>10">
                    <Page :total="page.total" size="small" show-elevator show-sizer :page-size="page.size" :page-size-opts="page.op"></Page>
                </div>
            </div>
            <div v-else key='detail'>
                <Update @changeOp="updateOp(isShow,action)" :updateState="action"></Update>
            </div>
            </transition>
        </card>
    </div>

</template>
<script>
import Update from './buisnessType-update';
export default {
    name: 'businessType',
    components: {
        Update
    },
    data(){
        return{
            dataLoading:false,
            isShow:true,
            action:'',
            searchValue:'',
            page:{
                total:0,
                size:10,
                op:[10, 20, 30, 40,50,100]
            },
            value:[],
            columns:[
                    {
                        type: 'index',
                        width: 80,
                        title:'序号',
                        align: 'center'
                    },
                    {
                        title: '业务ID',
                        key: 'username'
                    },
                    {
                        title: '业务类型',
                        key: 'realname'
                    },
                        {
                        title: '分类层级',
                        key: 'role'
                    },
                    {
                        title: '状态',
                        key: 'email'
                    },
                    {
                        title: '创建人',
                        key: 'phone'
                    },
                    {
                        title: '创建时间',
                        key: 'type'
                    },
                    {
                        title: '操作',
                        key: 'acction',
                        width:170,
                        render: (h, params) => {
                            return h('div', [
                                h('Button', {
                                    props: {
                                        type: 'primary',
                                        size: 'small'
                                    },
                                    style: {
                                        marginRight: '5px'
                                    },
                                    on: {
                                        click: () => {
                                            this.updateOp(this.isShow,'edit')
                                        }
                                    }
                                }, '编辑'),
                                h('Button', {
                                    props: {
                                        type: 'info',
                                        size: 'small'
                                    },
                                    style: {
                                        marginRight: '5px'
                                    },
                                    on: {
                                        click: () => {
                                            this.$Modal.confirm({
                                                title:'删除用户',
                                                content:'<p>是否要删除'+params.row.username+'此用户</p>',
                                                onOk: () => {
                                                    this.$Message.info('');
                                                    this.remove(params.index)
                                                }
                                            });                                  
                                        }
                                    }
                                }, '删除'),
                               h('Button', {
                                    props: {
                                        type: 'error',
                                        size: 'small'
                                    },
                                    on: {
                                        click: () => {
                                            this.$Modal.confirm({
                                                title:'删除用户',
                                                content:'<p>是否要删除'+params.row.username+'此用户</p>',
                                                onOk: () => {
                                                    this.$Message.info('');
                                                    this.remove(params.index)
                                                }
                                            });                                  
                                        }
                                    }
                                }, '启用')
                            ]);
                        }
                    }             
            ],
            insideTableData:[
                    {
                        username: '吴良玉',
                        realname: '吴甜甜',
                        role: '2016-10-03',
                        email: '563083773@qq.com',
                        phone: 17688765068,
                        type: '开启',
                        createTime:'2016-08-06',
                        acction: '2016-10-03'
                    },                    {
                        username: '你好',
                        realname: '还可以啦',
                        role: '2016-10-03',
                        email: '563083773@qq.com',
                        phone: 17688765068,
                        type: '开启',
                        createTime:'2016-08-06',
                        acction: '2016-10-03'
                    },                    {
                        username: '王天瞄',
                        realname: '王天天',
                        role: '2016-10-03',
                        email: '563083773@qq.com',
                        phone: 17688765068,
                        type: '开启',
                        acction: '2016-10-03'
                    },                    {
                        username: '王天瞄',
                        realname: '王天天',
                        role: '2016-10-03',
                        email: '563083773@qq.com',
                        phone: 17688765068,
                        type: '开启',
                        acction: '2016-10-03'
                    },                    {
                        username: '王天瞄',
                        realname: '王天天',
                        role: '2016-10-03',
                        email: '563083773@qq.com',
                        phone: 17688765068,
                        type: '开启',
                        acction: '2016-10-03'
                    },                    {
                        username: '王天瞄',
                        realname: '王天天',
                        role: '2016-10-03',
                        email: '563083773@qq.com',
                        phone: 17688765068,
                        type: '开启',
                        acction: '2016-10-03'
                    },                    {
                        username: '王天瞄',
                        realname: '王天天',
                        role: '2016-10-03',
                        email: '563083773@qq.com',
                        phone: 17688765068,
                        type: '开启',
                        acction: '2016-10-03'
                    },                    {
                        username: '王天瞄',
                        realname: '王天天',
                        role: '2016-10-03',
                        email: '563083773@qq.com',
                        phone: 17688765068,
                        type: '开启',
                        acction: '2016-10-03'
                    },                    {
                        username: '王天瞄',
                        realname: '王天天',
                        role: '2016-10-03',
                        email: '563083773@qq.com',
                        phone: 17688765068,
                        type: '开启',
                        acction: '2016-10-03'
                    },                   {
                        username: '王天瞄',
                        realname: '王天天',
                        role: '2016-10-03',
                        email: '563083773@qq.com',
                        phone: 17688765068,
                        type: '开启',
                        acction: '2016-10-03'
                    },                    {
                        username: '王天瞄',
                        realname: '王天天',
                        role: '2016-10-03',
                        email: '563083773@qq.com',
                        phone: 17688765068,
                        type: '开启',
                        acction: '2016-10-03'
                    }
            ]
        }
    },
        methods:{
        goBack(isShow){
            this.isShow = !isShow
            this.$cookie.remove("status")
        },
        updateOp(isShow,action){
            this.isShow = !isShow
            this.action=action
            this.$cookie.set('status', action);
        },
        handleSearch () {
            this.insideTableData=this.insideTableData.filter(item=> item.username.indexOf(this.searchValue)>-1)
        },
        handleClear (e) {
            if (e.target.value === '') this.insideTableData=this.value
        },
        remove (index) {
            this.insideTableData.splice(index, 1);
        },
        init(){
            this.value=this.insideTableData.slice(0);
            let cookie=this.$cookie.get('status');
            if(cookie){
                this.action=cookie
                this.isShow=false
            }else{
                this.action=''
                this.isShow=true
            }
            this.page.total=this.insideTableData.length
        }
    },
    created(){
        this.init();
    }
};
</script>
