<template>
    <div>
        <card>
           <p slot="title"><a href="javascript:void(0)" v-show="!isShow" @click="goBack(isShow)" class="mr-5"><Icon type="ios-arrow-left" :size="14"></Icon> 返回</a>{{action==='' || isShow?slotTitle.list:action==='add' && !isShow?slotTitle.add:slotTitle.edit}}</p>
            <transition name='fade' mode="out-in">
            <div v-if='isShow' key="list">
                <Form inline>
                    <FormItem>
                            <Button type="primary" icon="ios-plus-empty" @click='updateOp(isShow,"add")'>新增咨询</Button>
                    </FormItem>
                    <FormItem>
                        <Select v-model="model" placeholder="回复状态" style="width:200px">
                            <Option v-for="item in cityList" :value="item.value" :key="item.value">{{ item.label }}</Option>
                        </Select>
                    </FormItem>
                    <FormItem>
                        <Select v-model="model" placeholder="案件类型" style="width:200px">
                            <Option v-for="item in cityList" :value="item.value" :key="item.value">{{ item.label }}</Option>
                        </Select>
                    </FormItem>
                    <FormItem>
                        <Select v-model="model" placeholder="费用类型" style="width:200px">
                            <Option v-for="item in cityList" :value="item.value" :key="item.value">{{ item.label }}</Option>
                        </Select>
                    </FormItem>
                    <FormItem>
                             <Button type="primary" @click="handleSearch" >搜索</Button>
                    </FormItem>
                </Form>
                <Table :loading="dataLoading" border :columns="columns" :data="insideTableData"></Table>
                <div class="tc mt-20" v-if="page.total>10">
                    <Page @on-change="changePage" :current="page.current" :total="page.total" size="small" show-total show-elevator show-sizer :page-size="page.size" :page-size-opts="page.op"></Page>
                </div>
            </div>
            <div v-else key='detail'>
                <Update @changeOp="updateOp(isShow,action)"></Update>
            </div>
            </transition>
        </card>
    </div>
</template>
<script>
import Update from './consult-update';
import mixin from '_c/manageMixin'
export default {
    name: 'businessType',
    components: {
        Update
    },
    mixins:[mixin],
    data(){
        return{
                slotTitle:{
                    list:"咨询列表",
                    add:"新增咨询类型",
                    edit:"编辑咨询类型"
                },
                cityList: [
                    {
                        value: 'New York',
                        label: 'New York'
                    },
                    {
                        value: 'London',
                        label: 'London'
                    },
                    {
                        value: 'Sydney',
                        label: 'Sydney'
                    },
                    {
                        value: 'Ottawa',
                        label: 'Ottawa'
                    },
                    {
                        value: 'Paris',
                        label: 'Paris'
                    },
                    {
                        value: 'Canberra',
                        label: 'Canberra'
                    }
                ],
                model: '',
            columns:[
                    {
                        type: 'index',
                        width: 80,
                        title:'序号',
                        align: 'center'
                    },
                    {
                        title: '用户ID',
                        key: 'id'
                    },
                    {
                        title: '用户名',
                        key: 'alias'
                    },
                        {
                        title: '地区',
                        key: 'role'
                    },
                    {
                        title: '咨询标题',
                        key: 'title'
                    },
                    {
                        title: '咨询分类',
                        key: 'phone'
                    },
                    {
                        title: '免费/收费',
                        key: 'type'
                    },
                    {
                        title: '时间',
                        key: 'createDate'
                    },
                    {
                        title: '操作',
                        key: 'acction',
                        width:170,
                        render: (h, params) => {
                            return h('div', [
                                h('Button', {
                                    props: {
                                        type: 'primary',
                                        size: 'small'
                                    },
                                    style: {
                                        marginRight: '5px'
                                    },
                                    on: {
                                        click: () => {
                                            this.updateOp(this.isShow,'edit')
                                        }
                                    }
                                }, '编辑'),
                                h('Button', {
                                    props: {
                                        type: 'info',
                                        size: 'small'
                                    },
                                    style: {
                                        marginRight: '5px'
                                    },
                                    on: {
                                        click: () => {
                                            this.$Modal.confirm({
                                                title:'删除用户',
                                                content:'<p>是否要删除'+params.row.id+'此条咨询</p>',
                                                onOk: () => {
                                                    this.delList('questionDel',params.row.id,params.index);
                                                }
                                            });                                  
                                        }
                                    }
                                }, '删除'),
                               h('Button', {
                                    props: {
                                        type: 'error',
                                        size: 'small'
                                    },
                                    on: {
                                        click: () => {
                                            this.$Modal.confirm({
                                                title:'删除用户',
                                                content:'<p>是否要删除'+params.row.username+'此用户</p>',
                                                onOk: () => {
                                                    this.$Message.info('');
                                                    this.remove(params.index)
                                                }
                                            });                                  
                                        }
                                    }
                                }, '启用')
                            ]);
                        }
                    }             
            ]
        }
    },
    methods:{

    },
};
</script>
