<template>
        <Form ref="formValidate" :model="formValidate" :rules="ruleValidate" :label-width="80">
            <FormItem label="用户名" prop="username">
                <Input v-model="formValidate.username" placeholder="用户名称" style="width:200px"/>
            </FormItem>
            <FormItem label="案件类型">
                <Cascader :data="data" v-model="value" style="width:200px"></Cascader>
            </FormItem>
            <FormItem label="标题">
                <Input v-model="formValidate.username" placeholder="标题" style="width:200px"/>
            </FormItem>
            <FormItem label="标题">
                <vue-editor v-model="content" useCustomImageHandler @imageAdded="handleImageAdded"></vue-editor>
            </FormItem>
            <FormItem label="添加图片">
                <el-upload
                    action="https://jsonplaceholder.typicode.com/posts/"
                    list-type="picture-card"
                    :on-preview="handlePictureCardPreview"
                    :on-remove="handleRemove">
                    <i class="el-icon-plus"></i>
                    </el-upload>
                    <el-dialog :visible.sync="dialogVisible">
                    <img width="100%" :src="dialogImageUrl" alt="">
                </el-dialog>
            </FormItem> 
            <FormItem label="发布城市">
                         <Input v-model="formValidate.realname" style="width:200px"/>
            </FormItem>
            <FormItem label="发布时间">
                    <DatePicker type="datetime" format="yyyy-MM-dd HH:mm" placeholder="选择时间" style="width: 200px"></DatePicker>
            </FormItem>
            <FormItem>
                <Button type="primary" @click="handleSubmit('formValidate')">提交</Button>
                <Button type="ghost" @click="handleReset('formValidate')" style="margin-left: 8px">取消</Button>
            </FormItem>
        </Form>
</template>
<script>
import { VueEditor } from 'vue2-editor'

    export default {
        components:{VueEditor},
        data () {
        const checkPhone = (rule, value, callback) => {
                    if(!value){
                        return callback(new Error('手机号不能为空'));
                    }else{
                        const reg = /^1[3|4|5|7|8][0-9]\d{8}$/
                        if(reg.test(value)){
                             callback();
                        }else{
                            return callback(new Error('请输入正确的手机号'));
                        }
                    }
            };
        const validatePass = (rule, value, callback) => {
                if (value === '') {
                    callback(new Error('密码不能为空'));
                } else {
                    callback();
                }
            };
            return {
                value:[],
                data: [{
                    value: 'beijing',
                    label: '北京',
                    children: [
                        {
                            value: 'gugong',
                            label: '故宫'
                        },
                        {
                            value: 'tiantan',
                            label: '天坛'
                        },
                        {
                            value: 'wangfujing',
                            label: '王府井'
                        }
                    ]
                }, {
                    value: 'jiangsu',
                    label: '江苏',
                    children: [
                        {
                            value: 'nanjing',
                            label: '南京',
                            children: [
                                {
                                    value: 'fuzimiao',
                                    label: '夫子庙',
                                }
                            ]
                        },
                        {
                            value: 'suzhou',
                            label: '苏州',
                            children: [
                                {
                                    value: 'zhuozhengyuan',
                                    label: '拙政园',
                                },
                                {
                                    value: 'shizilin',
                                    label: '狮子林',
                                }
                            ]
                        }
                    ],
                }],
                dialogVisible: false,
                dialogImageUrl:'',
                content: '',
                formValidate: {
                    username: '',
                    realname: '',
                    mail: '',
                    phone: '',
                    passwd: '',
                    status:'1',
                    time: '',
                    desc: ''
                },
                ruleValidate: {
                    username: [
                        { required: true, message: '类型名称不能为空', trigger: 'blur' }
                    ]
                }
            }
        },
        methods: {
            handleSubmit (name) {
                this.$refs[name].validate((valid) => {
                    if (valid) {
                        this.$Message.success('Success!');
                    } else {
                        this.$Message.error('Fail!');
                    }
                })
            },
            handleReset (name) {
                this.$emit("changeOp");
                this.$cookie.remove("status")
            },
            handleImageAdded(file, Editor, cursorLocation, resetUploader){
                   var formData = new FormData();
                   formData.append('image', file)
            },
            handleRemove(file, fileList) {
                console.log(file, fileList);
            },
            handlePictureCardPreview(file) {
                this.dialogImageUrl = file.url;
                this.dialogVisible = true;
            }
        }
    }
</script>