<template>
    <div>
        <card>
           <p slot="title"><a href="javascript:void(0)" v-show="!isShow" @click="goBack(isShow)" class="mr-5"><Icon type="ios-arrow-left" :size="14"></Icon> 返回</a>{{action==='' || isShow?slotTitle.list:action==='add' && !isShow?slotTitle.add:slotTitle.edit}}</p>
            <transition name='fade' mode="out-in">
            <div v-if='isShow' key="list">
                <Form inline>
                    <FormItem>
                            <Button type="primary" icon="ios-plus-empty" @click='updateOp(isShow,"add")'>{{slotTitle.button}}</Button>
                    </FormItem>
                    <FormItem>
                            <Input v-model="searchValue" @on-change="handleClear" clearable @on-enter="handleSearch" :placeholder="slotTitle.ph"  style="width: 200px"/>
                             <Button type="primary" @click="handleSearch" >搜索</Button>
                    </FormItem>
                </Form>
                <Table :loading="dataLoading" border :columns="columns" :data="insideTableData"></Table>
                <div class="tc mt-20" v-if="page.total>10">
                    <Page @on-change="changePage" :current="page.current" :total="page.total" size="small" show-total show-elevator show-sizer :page-size="page.size" :page-size-opts="page.op"></Page>
                </div>
            </div>
            <div v-else key='detail'>
                <Update @changeOp="updateOp(isShow,action)"></Update>
            </div>
            </transition>
        </card>
    </div>
</template>
<script>
import Update from './field-update'
import mixin from '_c/manageMixin'
export default {
    components:{Update},
    name: 'field-manage',
    mixins:[mixin],
    data(){
        return{
                slotTitle:{
                    button:'新增',
                    list:"擅长领域列表",
                    add:"新增擅长领域",
                    edit:"编辑擅长领域",
                    ph:"输入擅长领域名称"
                },
                columns:[
                    {
                        type: 'index',
                        width: 80,
                        title:'序号',
                        align: 'center'
                    },
                    {
                        title: '名称',
                        key: 'position'
                    },
                    {
                        title: '排序',
                        key: 'id',
                        sortable: true
                    },
                    {
                        title: '创建时间',
                        key: 'createDate'
                    },
                    {
                        title: '操作',
                        key: 'acction',
                        width:170,
                        render: (h, params) => {
                            return h('div', [
                                h('Button', {
                                    props: {
                                        type: 'primary',
                                        size: 'small'
                                    },
                                    style: {
                                        marginRight: '5px'
                                    },
                                    on: {
                                        click: () => {
                                            this.updateOp(this.isShow,'edit')
                                        }
                                    }
                                }, '编辑'),
                                h('Button', {
                                    props: {
                                        type: 'info',
                                        size: 'small'
                                    },
                                    on: {
                                        click: () => {
                                            this.$Modal.confirm({
                                                title:'删除用户',
                                                content:'<p>是否要删除'+params.row.position+'此领域</p>',
                                                onOk: () => {
                                                    this.delList('fieldDel',params.row.id);
                                                }
                                            });                                  
                                        }
                                    }
                                }, '删除')
                            ]);
                        }
                    }             
            ]
        }
    },
    methods:{

    }
};
</script>
