<template>
        <Form ref="formValidate" :model="formValidate" :rules="ruleValidate" :label-width="80">
            <FormItem label="服务名称" prop="service">
                <Input v-model="formValidate.service" placeholder="请输入擅长领域名称"/>
            </FormItem>
            <FormItem label="序号">
                <Input v-model.number="formValidate.parentId"/>
            </FormItem>
            <FormItem label="价格">
                <Input v-model.number="formValidate.amountMin" placeholder="请输入服务价格，如100-500"/>
            </FormItem>
            <FormItem label="选择分类">
                <Input type="textarea" v-model="formValidate.username" placeholder="简单文字说明"/>
            </FormItem>
            <FormItem label="服务内容">
                 <Select v-model="model" style="width:200px">
                    <Option v-for="item in cityList" :value="item.value" :key="item.value">{{ item.label }}</Option>
                </Select>
            </FormItem>
            <FormItem label="状态">
            <RadioGroup v-model="formValidate.status">
                    <Radio label="1">启用</Radio>
                    <Radio label="2">禁用</Radio>
                </RadioGroup>
            </FormItem>
            <FormItem>
                <Button type="primary" @click="handleSubmit('formValidate')">提交</Button>
                <Button type="ghost" @click="handleReset('formValidate')" style="margin-left: 8px">取消</Button>
            </FormItem>
        </Form>
</template>
<script>
import api from '@/api/business'
    export default {
        data () {
        const checkPhone = (rule, value, callback) => {
                    if(!value){
                        return callback(new Error('手机号不能为空'));
                    }else{
                        const reg = /^1[3|4|5|7|8][0-9]\d{8}$/
                        if(reg.test(value)){
                             callback();
                        }else{
                            return callback(new Error('请输入正确的手机号'));
                        }
                    }
            };
        const validatePass = (rule, value, callback) => {
                if (value === '') {
                    callback(new Error('密码不能为空'));
                } else {
                    callback();
                }
            };
            return {
                formValidate: {
                    service: '',
                    amountMin: 0,
                    amountMax: 0,
                    parentId: ''
                },
                cityList: [
                    {
                        value: 'New York',
                        label: 'New York'
                    },
                    {
                        value: 'London',
                        label: 'London'
                    },
                    {
                        value: 'Sydney',
                        label: 'Sydney'
                    },
                    {
                        value: 'Ottawa',
                        label: 'Ottawa'
                    },
                    {
                        value: 'Paris',
                        label: 'Paris'
                    },
                    {
                        value: 'Canberra',
                        label: 'Canberra'
                    }
                ],
                model: '',
                ruleValidate: {
                    service: [
                        { required: true, message: '服务名称不能为空', trigger: 'blur' }
                    ],
                    // amountMin: [
                    //     { required: true, message: '价格不能为空', trigger: 'blur' }
                    // ]
                }
            }
        },
        methods: {
            handleSubmit (name) {
                this.$refs[name].validate((valid) => {
                    if (valid) {
                        api.serviceAdd(this.formValidate).then(res=>{
                            
                        })
                    } else {
                        this.$Message.error('Fail!');
                    }
                })
            },
            handleReset (name) {
                this.$emit("changeOp");
                this.$cookie.remove("status")
            }
        }
    }
</script>