<template>
    <div>
        <card>
           <p slot="title"><a href="javascript:void(0)" v-show="!isShow" @click="isShow=!isShow" class="mr-5"><Icon type="ios-arrow-left" :size="14"></Icon> 返回</a>{{action==='' || isShow?'账号列表':action==='add' && !isShow?'新增账号':'编辑账号'}}</p>
            <transition name='fade' mode="out-in">
            <div v-if='isShow' key="list">
                <Form inline>
                    <FormItem>
                            <Button type="primary" icon="ios-plus-empty" @click='updateOp(isShow,"add")'>新增</Button>
                    </FormItem>
                    <FormItem>
                            <Input v-model="searchValue" @on-change="handleClear" clearable @on-enter="handleSearch" placeholder="输入用户名称"  style="width: 200px"/>
                             <Button type="primary" @click="handleSearch" >搜索</Button>
                    </FormItem>
                </Form>
            <Table :loading="dataLoading" border :columns="columns" :data="insideTableData"></Table>
            </div>
            <div v-else key='detail'>
                <accountUpdate @changeOp="updateOp(isShow,action)" :updateState="action"></accountUpdate>
            </div>
            </transition>
        </card>
    </div>

</template>
<script>
import accountUpdate from './account-update';
export default {
    name: 'accountManage',
    components: {
        accountUpdate
    },
    data(){
        return{
            dataLoading:false,
            isShow:true,
            action:'',
            searchValue:'',
            value:[],
            columns:[
                    {
                        type: 'index',
                        width: 80,
                        title:'序号',
                        align: 'center'
                    },
                    {
                        title: '用户名',
                        key: 'username'
                    },
                    {
                        title: '姓名',
                        key: 'realname'
                    },
                        {
                        title: '角色',
                        key: 'role'
                    },
                    {
                        title: '邮箱',
                        key: 'email'
                    },
                    {
                        title: '联系方式',
                        key: 'phone'
                    },
                    {
                        title: '状态',
                        key: 'type'
                    },
                    {
                        title: '操作',
                        key: 'acction',
                        render: (h, params) => {
                            return h('div', [
                                h('Button', {
                                    props: {
                                        type: 'primary',
                                        size: 'small'
                                    },
                                    style: {
                                        marginRight: '5px'
                                    },
                                    on: {
                                        click: () => {
                                            this.updateOp(this.isShow,'edit')
                                        }
                                    }
                                }, '编辑'),
                                h('Button', {
                                    props: {
                                        type: 'error',
                                        size: 'small'
                                    },
                                    on: {
                                        click: () => {
                                            this.$Modal.confirm({
                                                title:'删除用户',
                                                content:'<p>是否要删除'+params.row.username+'此用户</p>',
                                                onOk: () => {
                                                    this.$Message.info('');
                                                    this.remove(params.index)
                                                }
                                            });                                  
                                        }
                                    }
                                }, '删除')
                            ]);
                        }
                    }             
            ],
            insideTableData:[
                    {
                        username: '吴良玉',
                        realname: '吴甜甜',
                        role: '2016-10-03',
                        email: '563083773@qq.com',
                        phone: 17688765068,
                        type: '开启',
                        acction: '2016-10-03'
                    },                    {
                        username: '你好',
                        realname: '还可以啦',
                        role: '2016-10-03',
                        email: '563083773@qq.com',
                        phone: 17688765068,
                        type: '开启',
                        acction: '2016-10-03'
                    },                    {
                        username: '王天瞄',
                        realname: '王天天',
                        role: '2016-10-03',
                        email: '563083773@qq.com',
                        phone: 17688765068,
                        type: '开启',
                        acction: '2016-10-03'
                    },                    {
                        username: '王天瞄',
                        realname: '王天天',
                        role: '2016-10-03',
                        email: '563083773@qq.com',
                        phone: 17688765068,
                        type: '开启',
                        acction: '2016-10-03'
                    },                    {
                        username: '王天瞄',
                        realname: '王天天',
                        role: '2016-10-03',
                        email: '563083773@qq.com',
                        phone: 17688765068,
                        type: '开启',
                        acction: '2016-10-03'
                    },                    {
                        username: '王天瞄',
                        realname: '王天天',
                        role: '2016-10-03',
                        email: '563083773@qq.com',
                        phone: 17688765068,
                        type: '开启',
                        acction: '2016-10-03'
                    },                    {
                        username: '王天瞄',
                        realname: '王天天',
                        role: '2016-10-03',
                        email: '563083773@qq.com',
                        phone: 17688765068,
                        type: '开启',
                        acction: '2016-10-03'
                    },                    {
                        username: '王天瞄',
                        realname: '王天天',
                        role: '2016-10-03',
                        email: '563083773@qq.com',
                        phone: 17688765068,
                        type: '开启',
                        acction: '2016-10-03'
                    },                    {
                        username: '王天瞄',
                        realname: '王天天',
                        role: '2016-10-03',
                        email: '563083773@qq.com',
                        phone: 17688765068,
                        type: '开启',
                        acction: '2016-10-03'
                    }
            ]
        }
    },
    methods: {
        updateOp(isShow,action){
            this.isShow = !isShow
            this.action=action
        },
        handleSearch () {
            this.insideTableData=this.insideTableData.filter(item=> item.username.indexOf(this.searchValue)>-1)
        },
        handleClear (e) {
            if (e.target.value === '') this.insideTableData=this.value
        },
        remove (index) {
            this.insideTableData.splice(index, 1);
        }
    },
    mounted(){
        this.value=this.insideTableData.slice(0)
    }
};
</script>
