<template>
    <div>
        <card>
            <p slot="title">角色列表</p>
            <Row>
                <Col span="5" offset="1">
                    <card>
                        <p slot="title">角色种类</p>
                         <Tree :data="data" show-checkbox></Tree>
                    </card>
                </Col>
                <Col span="5" offset="1">
                    <card>
                         <p slot="title">权限列表</p>
                         <Tree :data="data2" show-checkbox></Tree>
                    </card>
                </Col>
                <Col span="6" offset="1">
                    <card>
                        <p slot="title">修改角色</p>
                        <Form :model="formItem" :label-width="36">
                            <FormItem label="父级">
                                <Select v-model="formItem.select" placeholder="选择父级角色">
                                        <Option value="beijing">New York</Option>
                                        <Option value="shanghai">London</Option>
                                        <Option value="shenzhen">Sydney</Option>
                                </Select>
                            </FormItem>
                            <FormItem label="名称">
                                <Input v-model="formItem.input" placeholder="要创建的角色"></Input>
                            </FormItem>
                            <FormItem label="英文">
                                <Input v-model="formItem.input" placeholder="英文名称"></Input>
                            </FormItem>
                            <FormItem label="状态">
                                <i-switch v-model="formItem.switch" size="large">
                                    <span slot="open">开启</span>
                                    <span slot="close">关闭</span>
                                </i-switch>
                            </FormItem>
                        </Form>
                    </card>
                </Col>
            </Row>
        </card>
    </div>
</template>

<script>
export default {
    name: 'roleManage',
    data () {
        return {
        formItem:{
          
        },
        data: [
            {
                title: '超级管理员',
                expand: true
            },
            {
                title: '开发人员',
                expand: true,
                children:[
                    {
                        title:'吴良玉',
                        expand:true
                    },
                    {
                        title:'阳盛君',
                        expand:true
                    }
                ]
            },
            {
                title: '运营人员',
                expand: true
            },
            {
                title: '测试人员',
                expand: true,
            },
            {
                title: '律师',
                expand: true
            },
            {
                title: '用户',
                expand: true
            }
        ],
                data2: [
            {
                title: '超级管理员',
                expand: true
            },
            {
                title: '开发人员',
                expand: true,
                children:[
                    {
                        title:'吴良玉',
                        expand:true
                    },
                    {
                        title:'阳盛君',
                        expand:true
                    }
                ]
            },
            {
                title: '运营人员',
                expand: true
            },
            {
                title: '测试人员',
                expand: true,
            },
            {
                title: '律师',
                expand: true
            },
            {
                title: '用户',
                expand: true
            }
        ]
    }
}
};
</script>