<template>
        <Form ref="formValidate" :model="formValidate" :rules="ruleValidate" :label-width="80">
            <FormItem label="应用名" prop="username">
                <Input v-model="formValidate.username" placeholder="请输入用户名"/>
            </FormItem>
            <FormItem label="版本号" prop="realname">
                <Input v-model="formValidate.realname" placeholder="请输入应用版本号"/>
            </FormItem>
            <FormItem label="版本类型" prop="versionType">
                <RadioGroup v-model="formValidate.versionType">
                    <Radio label="1">律师</Radio>
                    <Radio label="2">用户</Radio>
                </RadioGroup>
            </FormItem>
            <FormItem label="应用平台" prop="platform">
                <RadioGroup v-model="formValidate.platform">
                    <Radio label="1">IOS</Radio>
                    <Radio label="2">安卓</Radio>
                    <Radio label="3">Ipad</Radio>
                </RadioGroup>
            </FormItem>
            <FormItem label="强制更新" prop="update">
                     <RadioGroup v-model="formValidate.update">
                    <Radio label="1">是</Radio>
                    <Radio label="2">否</Radio>
                </RadioGroup>
            </FormItem>
            <FormItem label="版本文件" prop="status">
                <Upload action="//jsonplaceholder.typicode.com/posts/">
                    <Button type="ghost" icon="ios-cloud-upload-outline">上传文件</Button>
                </Upload>
            </FormItem>
            <FormItem label="版本描述" prop="desc">
                <Input v-model="formValidate.desc" type="textarea" :autosize="{minRows: 2,maxRows: 5}" placeholder="请输入简单描述"/>
            </FormItem>
            <FormItem>
                <Button type="primary" @click="handleSubmit('formValidate')">提交</Button>
                <Button type="ghost" @click="handleReset('formValidate')" style="margin-left: 8px">取消</Button>
            </FormItem>
        </Form>
</template>
<script>
    export default {
        props:['updateState'],
        data () {
        const checkPhone = (rule, value, callback) => {
                    if(!value){
                        return callback(new Error('手机号不能为空'));
                    }else{
                        const reg = /^1[3|4|5|7|8][0-9]\d{8}$/
                        if(reg.test(value)){
                             callback();
                        }else{
                            return callback(new Error('请输入正确的手机号'));
                        }
                    }
            };
        const validatePass = (rule, value, callback) => {
                if (value === '') {
                    callback(new Error('密码不能为空'));
                } else {
                    callback();
                }
            };
            return {
                formValidate: {
                    username: '',
                    realname: '',
                    versionType: '1',
                    platform: '1',
                    update: '1',
                    status:'1',
                    time: '',
                    desc: ''
                },
                ruleValidate: {
                    username: [
                        { required: true, message: '用户名不能为空', trigger: 'blur' }
                    ],
                    realname: [
                        { required: true, message: '姓名不能为空', trigger: 'blur' },
                    ],
                    versionType: [
                        { required: true, message: '请选择版本号', trigger: 'change' }
                    ],
                    platform: [
                        { required: true, message: '请选择平台', trigger: 'change' }
                    ],
                    update: [
                        { required: true, message: 'Please select gender', trigger: 'change' }
                    ],
                    status: [
                            { required: true, message: '请选择文件', trigger: 'change' }
                    ],
                    desc: [
                        { required: true, message: 'Please enter a personal introduction', trigger: 'blur' },
                        { type: 'string', min: 20, message: 'Introduce no less than 20 words', trigger: 'blur' }
                    ]
                }
            }
        },
        methods: {
            handleSubmit (name) {
                this.$refs[name].validate((valid) => {
                    if (valid) {
                        this.$Message.success('Success!');
                    } else {
                        this.$Message.error('Fail!');
                    }
                })
            },
            handleReset (name) {
                this.$emit("changeOp");
            }
        }
    }
</script>