<template>
    <div>
        <card>
           <p slot="title">{{action==='' || isShow?'消息记录':action==='add' && !isShow?'新增账号':'编辑账号'}}</p>
            <transition name='fade' mode="out-in">
            <div v-if='isShow' key="list">
                <Form inline>
                    <FormItem>
                            <Button type="primary" icon="ios-plus-empty" @click='updateOp(isShow,"add")'>app</Button>
                            <Button type="primary" icon="ios-plus-empty" @click='updateOp(isShow,"add")'>短信</Button>
                    </FormItem>
                    <FormItem>
                            <Input v-model="searchValue" @on-change="handleClear" clearable @on-enter="handleSearch" placeholder="输入消息标题"  style="width: 200px"/>
                             <Button type="primary" @click="handleSearch" >搜索</Button>
                    </FormItem>
                </Form>
                 <Table :loading="dataLoading" border :columns="columns" :data="insideTableData"></Table>
                <div class="tc mt-20" v-if="page.total>10">
                    <Page :total="page.total" size="small" show-elevator show-sizer :page-size="page.size" :page-size-opts="page.op"></Page>
                </div>
            </div>
            <div v-else key='detail'>
                <Update @changeOp="updateOp(isShow,action)" :updateState="action"></Update>
            </div>
            </transition>
        </card>
    </div>

</template>
<script>
import Update from './addNews';
export default {
    name: 'pushNewsManage',
    components: {
        Update
    },
    data(){
        return{
            dataLoading:false,
            isShow:true,
            action:'',
            searchValue:'',
            value:[],
            page:{
                total:0,
                size:10,
                op:[10, 20, 30, 40,50,100]
            },
            columns:[
                    {
                        type: 'index',
                        width: 80,
                        title:'序号',
                        align: 'center'
                    },
                    {
                        title: '标题',
                        key: 'username'
                    },
                    {
                        title: '内容',
                        key: 'realname'
                    },
                        {
                        title: '发送用户数',
                        key: 'role'
                    },
                    {
                        title: '发送时间',
                        key: 'email'
                    },
                    {
                        title: '创建时间',
                        key: 'phone'
                    },
                    {
                        title: '状态',
                        key: 'type'
                    },
                    {
                        title: '操作',
                        key: 'acction',
                        render: (h, params) => {
                            return h('div', [
                                h('Button', {
                                    props: {
                                        type: 'text',
                                        size: 'small'
                                    },
                                    style: {
                                        color:'rgba(88,155,241,1)'
                                    },
                                    on: {
                                        click: () => {
                                            this.updateOp(this.isShow,'edit')
                                        }
                                    }
                                }, '查看')
                            ]);
                        }
                    }             
            ],
            insideTableData:[
                    {
                        username: '吴良玉',
                        realname: '吴甜甜',
                        role: '2016-10-03',
                        email: '563083773@qq.com',
                        phone: 17688765068,
                        type: '开启',
                        acction: '2016-10-03'
                    },                    {
                        username: '你好',
                        realname: '还可以啦',
                        role: '2016-10-03',
                        email: '563083773@qq.com',
                        phone: 17688765068,
                        type: '开启',
                        acction: '2016-10-03'
                    },                    {
                        username: '王天瞄',
                        realname: '王天天',
                        role: '2016-10-03',
                        email: '563083773@qq.com',
                        phone: 17688765068,
                        type: '开启',
                        acction: '2016-10-03'
                    },                    {
                        username: '王天瞄',
                        realname: '王天天',
                        role: '2016-10-03',
                        email: '563083773@qq.com',
                        phone: 17688765068,
                        type: '开启',
                        acction: '2016-10-03'
                    },                    {
                        username: '王天瞄',
                        realname: '王天天',
                        role: '2016-10-03',
                        email: '563083773@qq.com',
                        phone: 17688765068,
                        type: '开启',
                        acction: '2016-10-03'
                    },                    {
                        username: '王天瞄',
                        realname: '王天天',
                        role: '2016-10-03',
                        email: '563083773@qq.com',
                        phone: 17688765068,
                        type: '开启',
                        acction: '2016-10-03'
                    },                    {
                        username: '王天瞄',
                        realname: '王天天',
                        role: '2016-10-03',
                        email: '563083773@qq.com',
                        phone: 17688765068,
                        type: '开启',
                        acction: '2016-10-03'
                    },                    {
                        username: '王天瞄',
                        realname: '王天天',
                        role: '2016-10-03',
                        email: '563083773@qq.com',
                        phone: 17688765068,
                        type: '开启',
                        acction: '2016-10-03'
                    },                    {
                        username: '王天瞄',
                        realname: '王天天',
                        role: '2016-10-03',
                        email: '563083773@qq.com',
                        phone: 17688765068,
                        type: '开启',
                        acction: '2016-10-03'
                    },
                                       {
                        username: '王天瞄',
                        realname: '王天天',
                        role: '2016-10-03',
                        email: '563083773@qq.com',
                        phone: 17688765068,
                        type: '开启',
                        acction: '2016-10-03'
                    },                    {
                        username: '王天瞄',
                        realname: '王天天',
                        role: '2016-10-03',
                        email: '563083773@qq.com',
                        phone: 17688765068,
                        type: '开启',
                        acction: '2016-10-03'
                    }
            ]
        }
    },
    methods: {
        updateOp(isShow,action){
            this.isShow = !isShow
            this.action=action
        },
        handleSearch () {
            this.insideTableData=this.insideTableData.filter(item=> item.username.indexOf(this.searchValue)>-1)
        },
        handleClear (e) {
            if (e.target.value === '') this.insideTableData=this.value
        },
        remove (index) {
            this.insideTableData.splice(index, 1);
        },
        init(){
            this.page.total=this.insideTableData.length
        }
    },
    mounted(){
        this.value=this.insideTableData.slice(0)
        this.init()
    }
};
</script>
