<template>
    <div>
        <p><img class='avatar-img' :src="userAvatar"></p>
        <Button class="mt-10" type="ghost" id="pick-avatar" icon="ios-cloud-upload-outline">头像上传</Button>
        <avatar-cropper
        @uploaded="handleUploaded"
        trigger="#pick-avatar"
        upload-url="/files/upload" />
    </div>
</template>
<style scoped>
.avatar-img{
    width: 100px;
    height: 100px;
}
</style>

<script>
  import AvatarCropper from "vue-avatar-cropper"
    export default {
        components:{AvatarCropper },
        data () {
            return {
                userAvatar: undefined,
            }
        },
        methods: {
            handleUploaded(resp) {
                this.userAvatar = resp.relative_url;
            }
        }
    }
</script>