<template>
    <div class="flex">
        <div class="baseInfo">
            <uploadImg></uploadImg>
            <div class="mt-10">
                <Form inline ref="formData">
                    <FormItem>{{formData.area}}</FormItem>
                    <FormItem>{{formData.username}}</FormItem>
                </Form>
            </div>
            <div>
                <Button type="ghost" long @click="handleStatus">启用</Button>
                <Button type="primary" long @click="handleStatus" class="mt-20">保存</Button>
            </div>
        </div>
        <div class="baseContent">
            <div class="item-base-content">
                <div class="infoTitle">基本信息</div>
                <div class="infoContent">
                    <Form ref="formData" :label-width="80">
                          <FormItem label="用户ID：">
                                 <Input v-model="formData.area"/>
                          </FormItem>
                          <FormItem label="律师级别：">
                                <Input v-model="formData.area"/>
                          </FormItem>
                          <FormItem label="用户名：">
                                <Input v-model="formData.area"/>
                          </FormItem>
                          <FormItem label="姓名：">
                                <Input v-model="formData.area"/>
                          </FormItem>
                          <FormItem label="地区：">
                                    <Input v-model="formData.area"/>
                          </FormItem>
                          <FormItem label="性别：">
                                    <Input v-model="formData.area"/>
                          </FormItem>
                          <FormItem label="昵称：">
                                    <Input v-model="formData.area"/>
                          </FormItem>
                          <FormItem label="联系方式：">
                                    <Input v-model="formData.area"/>
                          </FormItem>
                          <FormItem label="邮箱：">
                                    <Input v-model="formData.area"/>
                          </FormItem>
                          <FormItem label="注册方式：">
                                    <Input v-model="formData.area"/>
                          </FormItem>
                          <FormItem label="登录设备：">
                                    <Input v-model="formData.area"/>
                          </FormItem>
                          <FormItem label="审核状态：">
                                    <Input v-model="formData.area"/>
                          </FormItem>
                          <FormItem label="身份证号：">
                                    <Input v-model="formData.area"/>
                          </FormItem>
                          <FormItem label="是否加V：">
                                    <Input v-model="formData.area"/>
                          </FormItem>
                          <FormItem label="星级：">
                                    <Input v-model="formData.area"/>
                          </FormItem>
                          <FormItem label="创建人ID：">
                                    <Input v-model="formData.area"/>
                          </FormItem>
                            <FormItem label="账号类型：">
                                    <Input v-model="formData.area"/>
                          </FormItem>
                    </Form>
                </div>
            </div>
            <div class="item-base-content">
                <div class="infoTitle">执业信息</div>
                <div class="infoContent">
                    <Form ref="formData" :label-width="100">
                          <FormItem label="执业证号：">
                                 <Input v-model="formData.area"/>
                          </FormItem>
                          <FormItem label="律所信息：">
                                <Input v-model="formData.area"/>
                          </FormItem>
                          <FormItem label="担任职位：">
                                <Input v-model="formData.area"/>
                          </FormItem>
                          <FormItem label="擅长领域：">
                                <Input v-model="formData.area"/>
                          </FormItem>
                          <FormItem label="执业年限：">
                                    <Input v-model="formData.area"/>
                          </FormItem>
                          <FormItem label="执业证：">
                                <el-upload
                                action="https://jsonplaceholder.typicode.com/posts/"
                                list-type="picture-card"
                                :on-preview="handlePictureCardPreview"
                                :on-remove="handleRemove">
                                <i class="el-icon-plus"></i>
                                </el-upload>
                                <el-dialog :visible.sync="dialogVisible">
                                <img width="100%" :src="dialogImageUrl" alt="">
                                </el-dialog>
                          </FormItem>
                          <FormItem label="年检证：">
                                <el-upload
                                action="https://jsonplaceholder.typicode.com/posts/"
                                list-type="picture-card"
                                :on-preview="handlePictureCardPreview"
                                :on-remove="handleRemove">
                                <i class="el-icon-plus"></i>
                                </el-upload>
                                <el-dialog :visible.sync="dialogVisible">
                                <img width="100%" :src="dialogImageUrl" alt="">
                                </el-dialog>
                          </FormItem>
                          <FormItem label="执业成果：">
                                <Input type="textarea" v-model="formData.area"/>
                          </FormItem>
                    </Form>
                </div>
            </div>
            <div class="item-base-content">
                <div class="infoTitle">个人简历</div>
                <div class="infoContent">

                </div>
            </div>
        </div>
    </div>
</template>
<style lang="less" scoped>
.baseInfo{
    width: 250px;
    text-align: center;
}
.baseContent{
    width: 100%;
    display: flex
}
.item-base-content{
    width: 30%;
    margin-left: 1.5%;
    margin-right:1.5% 
}
.infoTitle{
    border-bottom: 1px solid #dedede;
    padding: 10px;
    font-weight: 600;
    text-align:center
}
.infoContent{
    padding: 10px;
}
</style>
<style>
 .avatar-uploader .el-upload {
    border: 1px dashed #d9d9d9;
    border-radius: 6px;
    cursor: pointer;
    position: relative;
    overflow: hidden;
  }
  .avatar-uploader .el-upload:hover {
    border-color: #409EFF;
  }
  .avatar-uploader-icon {
    font-size: 28px;
    color: #8c939d;
    width: 148px;
    height: 148px;
    line-height: 148px;
    text-align: center;
  }
  .avatar {
    width: 148px;
    height: 148px;
    display: block;
  }
</style>
<script>
  import uploadImg from "_c/upload-img"
    export default {
        components:{uploadImg},
        props:['updateState'],
        data () {
            return {
                formData:{
                    area:'深圳市',
                    username:"阿里路亚",
                },
                imageUrl: '',
                dialogImageUrl: '',
                dialogVisible: false
            }
        },
        methods: {
            handleStatus(){
                this.$Notice.info({
                    title: '启用成功'
                });
            },
            handleAvatarSuccess(res, file) {
                this.imageUrl = URL.createObjectURL(file.raw);
            },
            beforeAvatarUpload(file) {
                const isJPG = file.type === 'image/jpeg';
                const isLt2M = file.size / 1024 / 1024 < 2;

                if (!isJPG) {
                this.$message.error('上传头像图片只能是 JPG 格式!');
                }
                if (!isLt2M) {
                this.$message.error('上传头像图片大小不能超过 2MB!');
                }
                return isJPG && isLt2M;
            },
            handleRemove(file, fileList) {
                console.log(file, fileList);
            },
            handlePictureCardPreview(file) {
                this.dialogImageUrl = file.url;
                this.dialogVisible = true;
            }
        }
    }
</script>